---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"li"> & {
  children: any;
};

export const paginationItem = tv({ base: "" });

const { class: className, ...rest } = Astro.props;
---

<li
  class={paginationItem({ class: className })}
  data-slot="pagination-item"
  {...rest}
>
  <slot />
</li>
