---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"nav">;

export const pagination = tv({ base: "mx-auto flex w-full justify-center" });

const { class: className, ...rest } = Astro.props;
---

<nav
  role="navigation"
  aria-label="pagination"
  class={pagination({ class: className })}
  data-slot="pagination"
  {...rest}
>
  <slot />
</nav>
