---
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { ButtonVariants } from "@/components/starwind/button";

type Props = HTMLAttributes<"a"> &
  Omit<VariantProps<typeof ButtonVariants.button>, "variant"> & {
    isActive?: boolean;
  };

export const paginationLink = ButtonVariants.button;

const { class: className, isActive, size = "icon", ...rest } = Astro.props;
---

<a
  aria-current={isActive ? "page" : undefined}
  class={ButtonVariants.button({ variant: isActive ? "outline" : "ghost", size, class: className })}
  data-slot="pagination-link"
  {...rest}
>
  <slot />
</a>
