---
import { joinPaths } from "@astrojs/internal-helpers/path";
import BaseLayout from "@/layouts/base-layout.astro";

const redirectUrl = joinPaths(Astro.url.toString(), "basic");
---

<BaseLayout
  title="Resume - ARV"
  description="Resume of ARV in PDF format."
  nav={{sticky: true}}
>
  <p>Redirecting to <a href={redirectUrl}>resume</a>...</p>
</BaseLayout>

<script is:inline define:vars={{ redirectUrl }}>
  window.location.replace(redirectUrl);
</script>
