---
import {
  type CollectionEntry,
  getCollection,
  type InferEntrySchema,
  render,
} from "astro:content";
import type { GetStaticPaths } from "astro";
import FrontmatterCard from "@/components/frontmatter-card.astro";
import NestedPagesList from "@/components/nested-pages-list.astro";
import Prose from "@/components/starwind/prose";
import BaseLayout from "@/layouts/base-layout.astro";
import "remark-github-alerts/styles/github-base.css";
import "remark-github-alerts/styles/github-colors-light.css";
import "remark-github-alerts/styles/github-colors-dark-class.css";
import "@/styles/katex.min.css";
import "@/styles/custom-prose.css";

interface Props {
  project: CollectionEntry<"projects">;
  nestedPages?: {
    id: string;
    data: InferEntrySchema<"projects">;
  }[];
}

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => {
    const children = projects.filter((p) => {
      return p.id.startsWith(project.id.split("/")[0]);
    });

    return {
      params: { slug: project.id },
      props: {
        project,
        nestedPages: children.length > 1 ? children : undefined, // Only contains the sub-pages for a specific project
      },
    };
  });
}) satisfies GetStaticPaths;

const { project, nestedPages } = Astro.props as Props;
const { Content } = await render(project);
---

<BaseLayout
  title={`${project.data.title} - ARV Project`}
  description={project.data.description}
  class="md:max-w-3/5"
  seo={{
    basic: {
      title: project.data.title,
      type: "website",
      image: new URL(`og.webp`, Astro.url).toString(),
      url: Astro.url,
    },
    article: {
      publishedTime: project.data.pubDate.toUTCString(),
      authors: [project.data.author],
      tags: project.data.categories,
    },
  }}
>
  <FrontmatterCard data={project.data} backPageUrl="/projects" />
  {nestedPages && (
      <section class="my-6">
        <NestedPagesList pages={nestedPages} />
      </section>
    )}

  <article class="mt-10 w-full">
    <Prose class="max-w-auto w-full custom-prose">
      <Content />
    </Prose>
  </article>
</BaseLayout>
